

#header nav{
    background-color: rgb(79, 112, 156);
    align-content: flex-end;
    padding: 14px 16px;
    text-size-adjust: 10px;
    justify-content: space-evenly;
    text-decoration: black;
}
.main{
    background-color: rgb(229, 210, 131);
}
.food{
    width: 500px;
    height: 500px;
    border: 50px;
    
}
.labels{
   text-align: center;
   font-size: 150%;
  }
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  